/*----------------------- General -------------------------*/
/*---------------------------------------------------------*/
/*                          HTML                           */
body {
  background-color: lightgrey;
  font-family: 'Patrick Hand', cursive;
  width: 100%;
  height: 100%; }

.titlesSection {
  font-size: 70px;
  text-align: center;
  color: midnightblue;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.subtitleSection {
  font-size: 50px;
  text-align: center;
  color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.wsButton {
  padding: 10px;
  text-align: left; }

.bg-light {
  background-color: lightgray !important;
  font-size: 50px;
  border-top: 1px solid black;
  width: 100%;
  margin-top: 30px;
  padding: 30px 0; }
  .bg-light button {
    font-size: 30px; }
  .bg-light input {
    font-size: 35px; }

#header {
  margin-left: -1%;
  margin-right: -1%; }
  #header .logoHeader {
    padding-left: 1vw;
    width: 100px; }
  #header .logoHeader:hover {
    transform: scale(1.02); }
  #header .navbar-brand {
    font-size: 150%; }
  #header .pageNav > ul > li {
    font-size: 30px;
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid white;
    text-shadow: 1px 1px; }
  #header .pageNav nav a {
    text-decoration: none;
    color: white; }

@keyframes crecer {
  0% {
    font-size: 0px; }
  100% {
    font-size: 16px; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

@media only screen and (max-width: 320px) {
  #header .navbar {
    justify-content: center; }
    #header .navbar .container-fluid {
      justify-content: center; }
      #header .navbar .container-fluid a {
        margin: 0px; } }

@media only screen and (max-width: 480px) {
  #header .navbar {
    justify-content: center; }
    #header .navbar .container-fluid {
      justify-content: center; } }

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap; }
    .navbar .container-fluid > a {
      display: block; } }

@media only screen and (min-width: 992px) and (max-width: 1150px) {
  .navbar-expand-lg {
    flex-wrap: wrap;
    justify-content: center; } }

/*                      Section Footer                        */
footer {
  margin-left: -1%;
  margin-right: -1%; }
  footer a {
    color: white;
    text-decoration: none; }
  footer .fut {
    font-size: 25px; }
    footer .fut b {
      font-size: 35px; }
    footer .fut ul {
      padding: 0; }
    footer .fut li {
      list-style: none; }
    footer .fut a:hover {
      transform: scale(1.01);
      color: white; }
  footer .socialFoot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%; }
  footer .RRSS {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    footer .RRSS a:hover {
      transform: scale(1.1); }
  footer .contactFoot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 400px;
    color: white;
    height: 100%; }
  footer .locationFoot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    height: 100%; }
  footer .rowFooter {
    flex-direction: row;
    justify-content: space-evenly;
    height: 40px; }
  footer .rowFooter2 {
    flex-direction: row;
    justify-content: space-evenly; }
    footer .rowFooter2 div {
      display: inline-block; }
    footer .rowFooter2 .col {
      flex-direction: column;
      justify-content: space-evenly; }
  footer a:hover {
    transform: scale(1.01);
    color: white; }

/*---------------------------------------------------------------*/
/*-------------------------- Page Home --------------------------*/
/*---------------------------------------------------------------*/
/*                      Section Image Ppal                       */
#pagePpal {
  margin-left: 1%;
  margin-right: 1%;
  color: black; }

.mantSlogan {
  border-bottom: 1px solid black;
  grid-area: mantSlogan;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350px;
  animation-duration: 2s;
  animation-name: aparecer;
  height: auto; }
  .mantSlogan p {
    font-size: 250%; }
  .mantSlogan cite {
    color: red; }
  .mantSlogan figure {
    font-size: 250%;
    color: mediumblue;
    text-align: center;
    margin: auto;
    width: auto;
    animation-duration: 2s;
    animation-name: aparecer;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

/*                      Section Services                        */
#servicesSection {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid black; }

.service img {
  width: 200px; }

.scaleMore img:hover {
  transform: scale(1.05); }

.rowPadding {
  padding-bottom: 80px; }

.rowPadding2 {
  padding-top: 50px; }

.column h2 {
  animation-duration: 4s;
  animation-name: aparecer;
  font-size: 65px;
  padding-bottom: 40px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

/*                      Section Text Promotional 1 and 2                       */
.imgPromot {
  opacity: 0.7;
  width: auto; }

.textPromotional .textPromotional__content {
  font-size: 35px;
  text-align: center;
  border-radius: 15em; }
  .textPromotional .textPromotional__content .content__parrafo {
    margin-bottom: 0px; }
  .textPromotional .textPromotional__content .content__parrafo--small {
    font-size: 25px;
    color: red; }

.textPromotional button {
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 0px;
  border-radius: 70%; }
  .textPromotional button a {
    color: white;
    text-decoration: none; }

.textPromotional button:hover {
  transform: scale(1.02); }

.imgSer {
  text-align: center;
  width: auto; }

.textPromotional2 {
  text-align: center;
  font-size: 35px;
  padding-bottom: 30px;
  padding: 20px 50px; }
  .textPromotional2 .textPromotional2__parrafo {
    font-size: 35px; }

/*                      Section Opinions / Reference                        */
.opinionsRef {
  border-top: 1px solid black;
  flex-wrap: wrap;
  text-align: center; }
  .opinionsRef .opinionsRef__op {
    font-size: 20px;
    flex-wrap: wrap; }
  .opinionsRef .opinionsRef__op--bold {
    font-size: 30px; }
  .opinionsRef .opinionsRef__text {
    font-style: italic; }

/*---------------------------------------------------------------*/
/*----------------------- Page About Us -------------------------*/
/*---------------------------------------------------------------*/
#pageAbout {
  margin-left: 1%;
  margin-right: 1%; }

#knowUs {
  background-image: url(./media/knowus.png);
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-x: center;
  background-color: #E9D3CD; }
  #knowUs h1 {
    margin-top: 15px;
    margin-bottom: 0px; }
  #knowUs .know__text {
    text-align: center;
    font-size: 35px;
    font-weight: bold; }
  #knowUs .know__text--italic {
    font-style: italic; }

#aboutUs {
  align-self: center;
  margin-bottom: 50px; }
  #aboutUs .imgColor:hover {
    transform: scale(1.02); }
  #aboutUs .p1 {
    font-size: 35px;
    text-align: justify; }
  #aboutUs .divValues > div {
    display: inline-block; }
  #aboutUs .divValues > li {
    width: 340px; }
  #aboutUs .ulValues {
    font-size: 35px;
    text-align: left; }

/*---------------------------------------------------------------*/
/*----------------------- Page Services -------------------------*/
/*---------------------------------------------------------------*/
#pageServices {
  margin-left: 1%;
  margin-right: 1%; }

.servicesAll {
  font-size: 35px;
  margin-bottom: 40px;
  margin-top: 50px;
  font-weight: bold; }
  .servicesAll img {
    width: 150px; }

#remoteService {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px; }
  #remoteService h3 {
    font-size: 55px;
    text-align: center;
    margin-top: 0px;
    color: midnightblue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  #remoteService a {
    font-size: 30px;
    text-decoration: none;
    color: white; }

#cuadroServ {
  border-top: 1px solid black; }
  #cuadroServ .cuadros {
    border: 2px solid black;
    margin: 50px 10px 0 10px;
    text-align: center;
    height: 650px;
    width: 300px; }
  #cuadroServ span {
    display: block;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    color: black; }
  #cuadroServ p {
    font-size: 25px;
    padding: 0px 20px; }
  #cuadroServ img {
    width: 120px;
    padding-top: 20px; }
  #cuadroServ .cursor:hover {
    background-color: #7e7e7e;
    color: white; }

.space {
  justify-content: space-around; }

/*---------------------------------------------------------------*/
/*----------------------- Page Galery -------------------------*/
/*---------------------------------------------------------------*/
#galeryPage {
  text-align: center;
  margin-left: 1%;
  margin-right: 1%; }

.pcImg {
  font-size: 40px; }

.netImg {
  font-size: 40px; }

.carousel {
  width: 80% !important;
  margin: auto;
  margin-top: 50px; }

.videosSec video {
  padding: 20px;
  width: 100%; }

.videosSec iframe {
  padding: 20px;
  margin-bottom: 60px;
  width: 100%; }

/*---------------------------------------------------------------*/
/*----------------------- Page Contact -------------------------*/
/*---------------------------------------------------------------*/
#contactPage {
  margin-left: 1%;
  margin-right: 1%; }
  #contactPage .cuadro {
    font-size: 25px;
    text-align: center;
    justify-content: center; }
    #contactPage .cuadro a {
      text-decoration: none;
      color: black; }
    #contactPage .cuadro .title {
      font-weight: bold;
      font-size: 35px; }
    #contactPage .cuadro span {
      display: block; }
    #contactPage .cuadro .sobre:hover {
      background-color: #7e7e7e; }

.cuadrosCont {
  border: 3px solid black;
  margin: 50px 10px 0 10px;
  text-align: center;
  height: 360px;
  width: 220px;
  padding: 15px 20px 10px 20px; }
  .cuadrosCont .link {
    text-decoration: none;
    color: black; }
  .cuadrosCont .link:hover {
    font-weight: bold;
    color: black; }
  .cuadrosCont .mailCont {
    font-size: 16px; }

#contactusSection {
  border-top: 1px solid black;
  margin-top: 50px;
  padding-bottom: 50px; }
  #contactusSection .fieldSet {
    background-image: repeating-linear-gradient(to bottom, gray, lightslategrey, gray); }
  #contactusSection .label {
    display: block;
    padding-top: 10px; }
  #contactusSection select {
    display: inline-block;
    width: fit-content; }
  #contactusSection input {
    display: inline-block; }
  #contactusSection button {
    margin: 5px 0px; }
  #contactusSection button:hover {
    transform: scale(1.05); }
  #contactusSection .computerType {
    display: inline-block !important; }
  #contactusSection .contactMethod {
    width: fit-content;
    margin-top: 8px; }
