/*---------------------------------------------------------------*/
/*----------------------- Page Galery -------------------------*/
/*---------------------------------------------------------------*/
#galeryPage{
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
}
.pcImg{
    font-size: 40px;
}
.netImg{
    font-size: 40px;
}
.carousel{
    width: 60%!important;
    margin: auto;
    margin-top: 50px;
}
.videosSec{
    video{
        padding: 20px;
        width: 80%;
    }
    iframe{
        padding: 20px;
        margin-bottom: 60px;
        width: 80%;
    }
}